EMPORIA_MCP_ORIGIN=http://127.0.0.1:8787
EMPORIA_API_ORIGIN=https://c-api.emporiaenergy.com
EMPORIA_LEGACY_API_ORIGIN=https://api.emporiaenergy.com
EMPORIA_AUTH_ORIGIN=https://auth.emporiaenergy.com
EMPORIA_COGNITO_CLIENT_ID=4qte47jbstod8apnfic0bunmrq
